<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Recorder</title>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %><script id="bundle" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><% } %>

    <style>
        #parent {
            width: 858px;
            height: 483px;
        }
    </style>
</head>

<body>
<h1>Express Recorder</h1>
<div>
    <div id="parent"></div>
</div>

<script>
  const component = Kaltura.ExpressRecorder.create('parent', {
      "ks": "YOUR_KS",
      "serviceUrl": "SERVICE_URL", // IE http://www.kaltura.com,
      "app": "APP_NAME",
      "playerUrl": "PLAYER_CDN_URL", // IE http://cdnapi.kaltura.com,
      "conversionProfileId": "CONVERSION_PROFILE_ID",
      "partnerId": PARTNER_ID,
      "uiConfId": "PLAYER_UICONF_ID",
  });

  const intervalToken = setInterval(() => {
    component.instance.toggleBlinking();
  }, 1000);

  setTimeout(() => {
    clearInterval(intervalToken);

    component.destroy();
  }, 10000);
</script>

</body>

</html>
