.express-recorder__recorder,
.express-recorder__playback {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.express-recorder__recorder__no-video {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#777777+0,828c95+0,434343+100 */
    background: rgb(119,119,119); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(119,119,119,1) 0%, rgba(130,140,149,1) 0%, rgba(67,67,67,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(119,119,119,1) 0%,rgba(130,140,149,1) 0%,rgba(67,67,67,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(119,119,119,1) 0%,rgba(130,140,149,1) 0%,rgba(67,67,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#434343',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.video-object-wrap {
    width: 100%;
    height: 100%;
}

.no-video-text {
    position: absolute;
    margin-top: 25px;
    margin-left: 18px;
    color: white;
}

.audio-indicator {
    float: right;
    position: relative;
    margin-top: 4px;
    margin-left: 10px;
}