.screenreader-only {
    position: absolute !important;
    left: -9999px !important;
}

.toggle-button {
    display: inline;
    .toggle-button__label {
        display: inline;
        vertical-align: -webkit-baseline-middle;
    }
    .toggle-button__checkbox {
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    .toggle-button__checkbox-label {
        position: relative;
        min-height: 20px;
        padding-left: 36px;
        display: inline;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 36px;
            height: 20px;
            border-radius: 12px;
            background-color: #e0e0e0;
            transition: background-color 0.15s ease-out;
        }

        &:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 16px;
            height: 16px;
            border-radius: 12px;
            background-color: #fff;
            -webkit-transition: -webkit-transform 0.15s ease-in-out; // old Safari & Android
            transition: transform 0.15s ease-in-out;
        }
    }

    .toggle-button__checkbox:checked + .toggle-button__checkbox-label {
        &:before {
            background-color: #00b4d1;
            transition-timing-function: ease-in;
        }

        &:after {
            -webkit-transform: translateX(16px); // old Safari & Android
            -ms-transform: translateX(16px); // IE9
            transform: translateX(16px);
        }

        // IE8
        .no-csstransforms &:after {
            right: 2px;
        }
    }

    .toggle-button__checkbox:focus + .toggle-button__checkbox-label {
        &:before {
            outline: thin dotted #333;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }
    }

    .toggle-button__button {
        display: inline-block;
        margin-top: 5px;
        float: right;
    }
}
