.express-recorder {
    text-align: center;
    text-align: -webkit-center;
}
.controls__start {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background: linear-gradient(135deg, #fb4d59 0%, #e91e26 100%);
    border: 1px solid #fb4d59;
}
.express-recorder__controls {
    position: relative;
    margin-top: -100px;
}
.express-recorder__save {
    margin-top: 55px;
}

.express-recorder__countdown {
    position: relative;
    margin-top: -363px;
}
.controls__cancel {
    padding: 12px 17px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    margin-top: 200px;
}
.bottom__btn {
    height: 36px;
    width: 130px;
    border-radius: 3px;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    outline: none;
}
.btn__save {
    background-color: #008297;
    border: 1px solid #ccc;
    color: white;
    margin-left: 24px;
}
.btn__reset {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.progress-bar {
    margin-top: 130px;
    width: 592px;
}