.express-recorder {
    text-align: center;
    height: 483px;
    width: 858px;
    font-family: Helvetica;
    background-color: black;
}
.controls__start {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(-135deg, #FB4D59 0%, #E91E26 100%);
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.4);

    &:hover {
        background-image: linear-gradient(-135deg, #D44753 0%, #f31e26 100%);
    }
}
.express-recorder__controls {
    position: relative;
    margin-top: -100px;
}
.express-recorder__save {
    margin-top: 55px;
}

.express-recorder__countdown {
    position: relative;
    margin-top: -363px;
}
.controls__cancel {
    margin-top: 175px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    height: 43px;
    width: 100px;
}
.bottom__btn {
    height: 36px;
    width: 130px;
    border-radius: 3px;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    outline: none;
}
.btn__save {
    background-color: #008297;
    border: 1px solid #ccc;
    color: white;
}
.btn__clear {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    margin-right: 24px;
}
.progress-bar {
    margin-top: 130px;
    width: 858px;
}
.settings-wrap {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 49px;
    top: 16px;
    color: #FFFFFF;
    z-index: 9;
}