button.timer-button {
    padding: 12px 13px 12px 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;

    > span {
        margin-right: 5px;
    }

    svg {
        vertical-align: text-top;
        margin-right: 8px;
    }
}

.square {
    display: inline-block;
    vertical-align: text-top;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 2px 0 rgba(255, 255, 255, 0.5),
        0 0 4px 0 rgba(0, 0, 0, 0.5);
}
