@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8ccqho');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8ccqho#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?8ccqho') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?8ccqho') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?8ccqho') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?8ccqho##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gear {
  &:before {
    content: $icon-gear;     
  }
}
.icon-stop .path1 {
  &:before {
    content: $icon-stop-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-stop .path2 {
  &:before {
    content: $icon-stop-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}

