.btn {
    height: 36px;
    width: 105px;
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}
.progress-bar {
    max-width: 86%;
    float: left;
    width: 858px;
    margin-right: 13px;
}
.cancel-btn--disabled {
    opacity: 0.4 !important;
}
.progress-complete {
    display: inline-block;
    color: #3c763d;
    background-color: #b9df90;
    padding: 15px 40px 15px 50px;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    max-width: 89%;
    border-radius: 4px;
    border: none;
}