.uploader {
    height:100%;
    width: 100%;
}
.btn {
    height: 36px;
    width: 105px;
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.progress-bar-wrap {
    width:100%;
}
.progress-bar {
    width: 50%;
    margin:auto;
}

.cancel-wrap {
    width: 100%;
    height: 45%; /// to push bar down
    text-align: right;
}

.btn-cancel {
    margin: 16px;
    background-color: black;
    color: white;
}
.btn-cancel--disabled {
    opacity: 0.4 !important;
    cursor: default;
}
.upload-success-message {
    width: 50%;
    display: inline-block;
    color: white;
    background-color: #666666;
    font-size: 14px;
    line-height: 28px;
    border-radius: 4px;
    border: none;
}