.btn {
    height: 36px;
    width: 105px;
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: #ffffff;
}
.progress-bar {
    max-width: 80%;
    float: left;
    width: 592px;
    margin-right: 13px;
}
.cancel-btn--disabled {
    opacity: 0.4 !important;
}
