.settings-icon {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 9px;
    border-radius: 3px;
    cursor: pointer;
    svg {
        vertical-align: middle;
        &:hover {
            transform: rotate(10deg);
            transition: transform 0.3s ease-in-out;
        }
        transform: rotate(-10deg);
        transition: transform 0.3s ease-in-out;
    }
}
.settings {
    position: absolute;
}
.resources-item {
    display: flex;
}
.resources-list,
.devices-list {
    list-style-type: none;
    padding: 0 0 8px 0;
}
.resources-list {
    padding: 10px 0;
}
.arrow-right {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.settings-box {
    text-align: left;
    margin-top: 4px;
    padding: 4px 20px;
    font-size: 16px;
    line-height: 35px;
    width: 280px;
    position: absolute;
    right: 0;
    border-radius: 3px;
    background: rgba(34,34,34,0.90);
}
.settings-icon-close {
    background: rgba(0,0,0,0.60);
    &:hover {
        background: rgba(34,34,34,0.90);
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.30);
    }
}
.settings-icon-open {
    background: rgba(34,34,34,0.90);
}
.settings-line {
    height: 1px;
    opacity: 0.15;
    background-color: #ffffff;
    margin: 8px 0;
}
.device-label {
    &:hover {
        .device-label__popup {
            visibility: visible;
            white-space: normal;
        }
    }
}
.resource-label,
.device-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}
.device-label {
    width: 260px;
    padding-left: 21px;
    cursor: pointer;
}
.resource-label {
    width: 160px;
    cursor: pointer;
}
.resources-name {
    width: 100px;
    vertical-align: bottom;
    cursor: pointer;
}
.device-label__popup {
    visibility: hidden;
    position: absolute;
    border-radius: 4px;
    background-color: #eaeaea;
    color: #000;
    margin-left: 100px;
    padding: 0 10px;

    &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #eaeaea;
        left: 70px;
        top: -8px;
    }
}
.selected-device:before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -17px;
    margin-right: 11px;
}
.arrow-left {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    vertical-align: sub;
    margin-right: 13px;
    cursor: pointer;
}
.arrow-wrap {
    width: 20px;
    cursor: pointer;
    i {
        margin-left: 13px;
        margin-bottom: 2px;
    }
}
.resource-link {
    color: white;
    &:hover {
        color: white;
        text-decoration: none;
    }
}
.device-disabled {
    color: gray;
}
.settings-arrow-wrap {
    cursor: pointer;
    padding-left: 8px;
    padding-bottom: 12px;
    margin-left: -8px;
}
.settings-audio-indicator {
    position: relative;
    margin-top: 13px;
    margin-right: 40px;
    height: 10px;
    float: right;
}
