.settings-icon-wrap {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    svg {
        vertical-align: middle;
    }
}
.settings {
    position: absolute;
}
.resources-item {
    display: flex;
}
.resources-list,
.devices-list {
    list-style-type: none;
    padding: 0 0 8px 0;
}
.resources-list {
    padding: 10px 0;
}
.arrow-right {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.settings-box {
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 4px;
    padding: 4px 20px;
    font-size: 16px;
    line-height: 35px;
    width: 280px;
    position: absolute;
    right: 0;
}
.settings-line {
    height: 1px;
    opacity: 0.15;
    background-color: #ffffff;
    margin: 8px 0;
}
.device-label {
    &:hover {
        .device-label__popup {
            visibility: visible;
            white-space: normal;
        }
    }
}
.resource-label, .device-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}
.device-label {
    width: 280px;
}
.resource-label {
    width: 160px;
    cursor: pointer;
}
.resources-name {
    width: 100px;
    vertical-align: bottom;
    cursor: pointer;
}
.device-label__popup {
    visibility: hidden;
    position: absolute;
    border-radius: 4px;
    background-color: #eaeaea;
    color: #000;
    margin-left: 100px;
    padding-left: 10px;

    &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #eaeaea;
        left: 70px;
        top: -8px;
    }
}
.selected-device {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}
.not-selected-device {
    padding-left: 21px;
    cursor: pointer;
}
.arrow-left {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    vertical-align: sub;
    margin-right: 13px;
    cursor: pointer;
}
.arrow-wrap {
    width: 20px;
    cursor: pointer;
    i {
        margin-left: 13px;
    }
}
.resource-link {
    color: white;
    &:hover {
        color: white;
        text-decoration: none;
    }
}
.device-disabled {
    color: gray;
}