.settings {
    padding: 8px 24px 8px 23px;
    height: 40px;
    background: #111111;
    border-radius: 28px;
    @media (max-width: 512px) {
        height: 20px;
    }
    @media (max-width: 320px) {
        height: 15px;
        padding: 0.5em 0.5em;
    }
}
.controls__start {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(-180deg, #ef424e, #db1f26);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-left: 5px;

    &:hover {
        background-image: linear-gradient(-180deg, #ed2a38, #c51c22);
    }
    @media (max-width: 512px) {
        height: 18px;
        width: 18px;
    }
    @media (max-width: 320px) {
        margin-left: 0;
    }
}
.resources-item {
    display: flex;
    align-items: center;
}
.resources-icon {
    width: 24px;
    height: 24px;
    svg {
        vertical-align: bottom;
    }
    &:hover {
        background-color: #666666;
    }
}
.devices-list {
    list-style-type: none;
    padding: 0 0 8px 0;
}
.resources-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.arrow-up,
.arrow-down {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
}
.arrow-down {
    transform: rotate(45deg);
    margin-bottom: 5px !important;
}

.device-label {
    &:hover {
        .device-label__popup {
            display: block;
            visibility: visible;
            white-space: normal;
        }
    }
}
.device-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    margin-right: 5px;
}
.device-label {
    width: auto;
    max-width: 260px;
    cursor: pointer;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 15px;
    &:focus {
        text-decoration: none;
        border-radius: 4px;
        border: 2px solid white;
        box-shadow: 0 0 0 2px #0000FF, 
        0 2px 4px rgba(0, 0, 0, 0.1);
    }
}
.device-label__popup {
    display: none;
    visibility: hidden;
    position: absolute;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000;
    margin-left: 100px;
    margin-right: 10px;
    padding: 10px 10px;
    line-height: 17px;
    font-size: 13px;
    font-weight: 600;

    &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #eaeaea;
        left: 70px;
        top: -8px;
    }
}
.selected-device:before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -17px;
    margin-right: 11px;
}
.arrow-wrap {
    width: 20px;
    margin-top: 3px;
    i {
        margin-left: 13px;
        margin-bottom: 2px;

        @media (max-width: 320px) {
            margin-left: 0;
        }
    }
}
.resource-link {
    color: white;
    width: 50px;
    padding: 4px;
    cursor: pointer;
    margin: 0 5px 0 5px;
    &:hover,
    &:focus {
        color: white;
        text-decoration: none;
        background-color: #666666;
        border-radius: 4px;
    }
    @media (max-width: 512px) {
        padding: 0;
    }
    @media (max-width: 320px) {
        margin: 0;
    }
}
.device-disabled {
    color: gray;
}
.settings-audio-indicator {
    position: relative;
    margin-top: 13px;
    margin-right: 40px;
    height: 10px;
    float: right;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.device-settings-wrap {
    position: absolute;
    left: -3px;
    bottom: 61px;
    text-align: left;
    padding: 4px 10px;
    font-size: 16px;
    max-width: 100%;
    box-sizing: border-box;
    line-height: 35px;
    width: 280px;
    border-radius: 4px;
    background: #333333;
    color: #ffffff;
}
.device-label__selected-icon {
    right: 20px;
    margin-top: 2px;
    position: absolute;
}

.controls-popup__start {
    top: -42px;
    right: -15px;
    &:after {
        left: 48px;
        top: 34px;
    }
}
.controls__start {
    &:hover {
        .controls-popup__start {
            visibility: visible;
            white-space: normal;
        }
    }
}
.controls__start--disabled {
    background: rgb(153, 153, 153) !important;
    cursor: unset;
}
.controls__start[data-title]:hover::after,
.resource-link[data-title]:hover::after{
    content: attr(data-title);
    position: absolute;
    border-radius: 4px;
    background-color: #222222;
    color: #ffffff;
    padding: 10px 10px;
    line-height: 14px;
    font-size: 13px;
    font-weight: 400;
    top: -45px;
    width: max-content;
    margin-left: -55px;
}