.player-wrap__main_controls .playkit-bottom-bar.playkit-bottom-bar,
.player-wrap__main_controls .playkit-pre-playback-play-overlay.playkit-pre-playback-play-overlay {
    width: 200%;
}
.player-wrap__main_controls .playkit-center-playback-controls {
    left: 100%;
}
.player-wrap__main_controls .playkit-bottom-bar {
    top: -65px;
}
.player-wrap-screen__with-video
    .playkit-playback-controls.playkit-playback-controls.playkit-playback-controls.playkit-playback-controls.playkit-playback-controls,
.player-wrap-screen__with-video .playkit-bottom-bar.playkit-bottom-bar.playkit-bottom-bar,
.player-wrap-screen__with-video .playkit-pre-playback-play-button,
.player-wrap-screen__with-video .playkit-overlay-action {
    display: none;
}

.player-wrap__main_controls .playkit-player.playkit-player {
    overflow: visible;
}
.player-wrap__main_controls .playkit-control-fullscreen.playkit-control-fullscreen {
    display: none;
}
