.player-wrap__main_controls .playkit-bottom-bar,
.player-wrap__main_controls .playkit-pre-playback-play-overlay {
    left: 50% !important;
}
.player-wrap__main_controls .playkit-center-playback-controls {
    left: 100%;
}
.player-wrap-screen .playkit-playback-controls,
.player-wrap-screen .playkit-bottom-bar,
.player-wrap-screen .playkit-pre-playback-play-button {
    display: none !important;
}

.player-wrap__main_controls .playkit-player {
    overflow: visible !important;
}
