.countdown {
    position: relative;
    margin: auto;
    margin-top: 100px;
    height: 88px;
    width: 88px;
    text-align: center;
}

.countdown-number {
    color: white;
    display: inline-block;
    line-height: 88px;
    font-size: 48px;
    z-index: 2;
    position: relative;
}

svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 88px;
    height: 88px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

.svg .circle {
    stroke-dasharray: 264px;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 4px;
    stroke: white;
    fill: transparent;
    animation: countdown-anim 3s linear forwards;
    position: relative;
    z-index: 1;
}

@keyframes countdown-anim {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 264px;
    }
}